body {
    overflow-y: auto;
}

.hidden {
    display: none;
}

.template {
    display: none;
}

th, td {
    text-align: center;
    vertical-align: middle !important;
}

td.email {
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}